<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>157164303880-38r27d59jab2u3tmbdd2betip933sb3c.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.157164303880-38r27d59jab2u3tmbdd2betip933sb3c</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>157164303880-0cireecv71rc42r2u6pdblgahffqobv3.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDsIfBWENytsvr40MC5uFTPBWd6HPbEjVI</string>
	<key>GCM_SENDER_ID</key>
	<string>157164303880</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.walkieTalkie360</string>
	<key>PROJECT_ID</key>
	<string>walkie-talkie-d789d</string>
	<key>STORAGE_BUCKET</key>
	<string>walkie-talkie-d789d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:157164303880:ios:252895d8d80971ef0483bd</string>
</dict>
</plist>